body {
    background-image: url('gratis-png-cuatro-mujeres-visten-modelo-de-dibujo-modelo-de-dibujo.png');
    background-size: cover auto;
    background-position: center; 
    font-family:Baguet Script;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
header {
    background-image: url('fond.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: initial;
    top: 0;
    z-index: 1000;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.MiEstilo {
	width: 400px;
	background: #7767a5d5;
	padding: 15px;
	margin: auto;
	margin-top: 200px;
	border-radius: 20px;
	font-family: 'Baguet Script';
	color: white;
	box-shadow: 2px 4px 15px #000;
}

.MiEstilo h4 {
	font-size: 40px;
	margin-bottom: 20px;
}

.caja{
	width: 100%;
	background: #f2f3f4;
	padding: 10px;
	border: 1px solid #616a6b;
	border-radius: 7px;
	margin-bottom: 16px;
	font-family: 'Baguet Script';
	font-size: 18px;
}
.formulario button{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
.radio-label{
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
	color: #333;
}
.radio-label input[type="radio"]{
	margin-right: 5px;
}
.radio-label input[type="radio"]:checked+span{
	font-weight: bold;
}
.button{
	background-color: #7767a5d5;
	border: 30px;
	border-radius: 10px;
	text-align	: center;
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}
footer {
    background-image: url('fond.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 40px;
}
footer a {
    color: white;
}